.Main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-large);
	width: 100%;
	margin-inline: auto;
	min-height: var(--viewport-height);
	padding-top: var(--header-height);
	scroll-padding-top: 500px;
}
